In [2]:
import requests
from pathlib import Path
import time
#standard data analysis libraries
import numpy as np 
import pandas as pd 
#imports for displaying, rendering, and saving plots and visualizations
from funcs import *

In [4]:
# Package ID: knb-lter-mcr.5038.10 Cataloging System:https://pasta.edirepository.org.
# Data set title: MCR LTER: Coral Reef: Landscape-scale patterns of nutrient enrichment in a coral reef ecosystem: implications for coral to algae phase shifts, Adam et al., Ecol. Appl..
# Data set creator:    - Moorea Coral Reef LTER 
# Data set creator:  Deron Burkepile - Moorea Coral Reef LTER 
# Data set creator:  Tom Adam - Moorea Coral Reef LTER 
# Metadata Provider:    - Moorea Coral Reef LTER 
# Contact:    - Information Manager Moorea Coral Reef LTER  - mcrlter@msi.ucsb.edu
# Stylesheet v1.0 for metadata conversion into program: John H. Porter, Univ. Virginia, jporter@virginia.edu      
# 
# This program creates numbered PANDA dataframes named dt1,dt2,dt3...,
# one for each data table in the dataset. It also provides some basic
# summaries of their contents. NumPy and Pandas modules need to be installed
# for the program to run. 

import numpy as np
import pandas as pd 

infile1  = "https://pasta.lternet.edu/package/data/eml/knb-lter-mcr/5038/10/f8a084a25303fb07541b5a1dbc9dea2d".strip() 
                 
dt1 =pd.read_csv(infile1 
          ,skiprows=1
            ,sep=","  
                ,quotechar='"' 
           , names=[
                    "Taxa",     
                    "Category"    ]
# data type checking is commented out because it may cause data
# loads to fail if the data contains inconsistent values. Uncomment 
# the following lines to enable data type checking
         
#            ,dtype={  
#             'Taxa':'str' ,  
#             'Category':'str'  
#        }
    )
# Coerce the data into the types specified in the metadata  
dt1.Taxa=dt1.Taxa.astype('category')  
dt1.Category=dt1.Category.astype('category') 
      
display("Here is a description of the data frame dt1 and number of lines\n")
display(dt1.info())
display("--------------------\n\n")                
display("Here is a summary of numerical variables in the data frame dt1\n")
display(dt1.describe())
display("--------------------\n\n")                
                         
display("The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n")                 

display(dt1.Taxa.describe())               
display("--------------------\n\n")
                    
display(dt1.Category.describe())               
display("--------------------\n\n")
                    
                    
                 

infile2  ="https://pasta.lternet.edu/package/data/eml/knb-lter-mcr/5038/10/5b9e129d63e9f05764a85342cdcf9175".strip() 
infile2  = infile2.replace("https://","http://")
                 
dt2 =pd.read_csv(infile2 
          ,skiprows=1
            ,sep=","  
                ,quotechar='"' 
           , names=[
                    "Site",     
                    "lsmean",     
                    "SE",     
                    "df",     
                    "lower_CL",     
                    "upper_CL"    ]
# data type checking is commented out because it may cause data
# loads to fail if the data contains inconsistent values. Uncomment 
# the following lines to enable data type checking
         
#            ,dtype={  
#             'Site':'str' , 
#             'lsmean':'float' , 
#             'SE':'float' , 
#             'df':'float' , 
#             'lower_CL':'float' , 
#             'upper_CL':'float'  
#        }
    )
# Coerce the data into the types specified in the metadata  
dt2.Site=dt2.Site.astype('category') 
dt2.lsmean=pd.to_numeric(dt2.lsmean,errors='coerce') 
dt2.SE=pd.to_numeric(dt2.SE,errors='coerce') 
dt2.df=pd.to_numeric(dt2.df,errors='coerce') 
dt2.lower_CL=pd.to_numeric(dt2.lower_CL,errors='coerce') 
dt2.upper_CL=pd.to_numeric(dt2.upper_CL,errors='coerce') 
      
display("Here is a description of the data frame dt2 and number of lines\n")
display(dt2.info())
display("--------------------\n\n")                
display("Here is a summary of numerical variables in the data frame dt2\n")
display(dt2.describe())
display("--------------------\n\n")                
                         
display("The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n")                 

display(dt2.Site.describe())               
display("--------------------\n\n")
                    
display(dt2.lsmean.describe())               
display("--------------------\n\n")
                    
display(dt2.SE.describe())               
display("--------------------\n\n")
                    
display(dt2.df.describe())               
display("--------------------\n\n")
                    
display(dt2.lower_CL.describe())               
display("--------------------\n\n")
                    
display(dt2.upper_CL.describe())               
display("--------------------\n\n")
                    
                    
                 

infile3  ="https://pasta.lternet.edu/package/data/eml/knb-lter-mcr/5038/10/c80250c11f1bb28deb0854c25b5c6fe1".strip() 
infile3  = infile3.replace("https://","http://")
                 
dt3 =pd.read_csv(infile3 
          ,skiprows=1
            ,sep=","  
                ,quotechar='"' 
           , names=[
                    "Point",     
                    "Latitude",     
                    "Longitude",     
                    "Island_shore",     
                    "Habitat",     
                    "Percent_N_Jan",     
                    "Percent_N_May",     
                    "Percent_N_July",     
                    "d15NNorm_Jan",     
                    "d15NNorm_May",     
                    "d15NNorm_July"    ]
# data type checking is commented out because it may cause data
# loads to fail if the data contains inconsistent values. Uncomment 
# the following lines to enable data type checking
         
#            ,dtype={  
#             'Point':'str' , 
#             'Latitude':'float' , 
#             'Longitude':'float' ,  
#             'Island_shore':'str' ,  
#             'Habitat':'str' , 
#             'Percent_N_Jan':'float' , 
#             'Percent_N_May':'float' , 
#             'Percent_N_July':'float' , 
#             'd15NNorm_Jan':'float' , 
#             'd15NNorm_May':'float' , 
#             'd15NNorm_July':'float'  
#        }
    )
# Coerce the data into the types specified in the metadata  
dt3.Point=dt3.Point.astype('category') 
dt3.Latitude=pd.to_numeric(dt3.Latitude,errors='coerce') 
dt3.Longitude=pd.to_numeric(dt3.Longitude,errors='coerce')  
dt3.Island_shore=dt3.Island_shore.astype('category')  
dt3.Habitat=dt3.Habitat.astype('category') 
dt3.Percent_N_Jan=pd.to_numeric(dt3.Percent_N_Jan,errors='coerce') 
dt3.Percent_N_May=pd.to_numeric(dt3.Percent_N_May,errors='coerce') 
dt3.Percent_N_July=pd.to_numeric(dt3.Percent_N_July,errors='coerce') 
dt3.d15NNorm_Jan=pd.to_numeric(dt3.d15NNorm_Jan,errors='coerce') 
dt3.d15NNorm_May=pd.to_numeric(dt3.d15NNorm_May,errors='coerce') 
dt3.d15NNorm_July=pd.to_numeric(dt3.d15NNorm_July,errors='coerce') 
      
display("Here is a description of the data frame dt3 and number of lines\n")
display(dt3.info())
display("--------------------\n\n")                
display("Here is a summary of numerical variables in the data frame dt3\n")
display(dt3.describe())
display("--------------------\n\n")                
                         
display("The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n")                 

display(dt3.Point.describe())               
display("--------------------\n\n")
                    
display(dt3.Latitude.describe())               
display("--------------------\n\n")
                    
display(dt3.Longitude.describe())               
display("--------------------\n\n")
                    
display(dt3.Island_shore.describe())               
display("--------------------\n\n")
                    
display(dt3.Habitat.describe())               
display("--------------------\n\n")
                    
display(dt3.Percent_N_Jan.describe())               
display("--------------------\n\n")
                    
display(dt3.Percent_N_May.describe())               
display("--------------------\n\n")
                    
display(dt3.Percent_N_July.describe())               
display("--------------------\n\n")
                    
display(dt3.d15NNorm_Jan.describe())               
display("--------------------\n\n")
                    
display(dt3.d15NNorm_May.describe())               
display("--------------------\n\n")
                    
display(dt3.d15NNorm_July.describe())               
display("--------------------\n\n")
                    
                    
                 

infile4  ="https://pasta.lternet.edu/package/data/eml/knb-lter-mcr/5038/10/bfed03abe55d9e4b17212442718f04c0".strip() 
infile4  = infile4.replace("https://","http://")
                 
dt4 =pd.read_csv(infile4 
          ,skiprows=1
            ,sep=","  
                ,quotechar='"' 
           , names=[
                    "X",     
                    "Y"    ]
# data type checking is commented out because it may cause data
# loads to fail if the data contains inconsistent values. Uncomment 
# the following lines to enable data type checking
         
#            ,dtype={ 
#             'X':'float' , 
#             'Y':'float'  
#        }
    )
# Coerce the data into the types specified in the metadata 
dt4.X=pd.to_numeric(dt4.X,errors='coerce') 
dt4.Y=pd.to_numeric(dt4.Y,errors='coerce') 
      
display("Here is a description of the data frame dt4 and number of lines\n")
display(dt4.info())
display("--------------------\n\n")                
display("Here is a summary of numerical variables in the data frame dt4\n")
display(dt4.describe())
display("--------------------\n\n")                
                         
display("The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n")                 

display(dt4.X.describe())               
display("--------------------\n\n")
                    
display(dt4.Y.describe())               
display("--------------------\n\n")
                    
                    
                 

infile5  ="https://pasta.lternet.edu/package/data/eml/knb-lter-mcr/5038/10/1ec7ba38bc3e787c4998638eca1777a5".strip() 
infile5  = infile5.replace("https://","http://")
                 
dt5 =pd.read_csv(infile5 
          ,skiprows=1
            ,sep=","  
                ,quotechar='"' 
           , names=[
                    "Shore",     
                    "Season",     
                    "v_3monthDeltawaves",     
                    "v_6weekDeltawaves",     
                    "v_3monthDeltawavesprop",     
                    "v_6weekDeltawavesprop",     
                    "Ncorrelation"    ]
# data type checking is commented out because it may cause data
# loads to fail if the data contains inconsistent values. Uncomment 
# the following lines to enable data type checking
         
#            ,dtype={  
#             'Shore':'str' ,  
#             'Season':'str' , 
#             'v_3monthDeltawaves':'float' , 
#             'v_6weekDeltawaves':'float' , 
#             'v_3monthDeltawavesprop':'float' , 
#             'v_6weekDeltawavesprop':'float' , 
#             'Ncorrelation':'float'  
#        }
    )
# Coerce the data into the types specified in the metadata  
dt5.Shore=dt5.Shore.astype('category')  
dt5.Season=dt5.Season.astype('category') 
dt5.v_3monthDeltawaves=pd.to_numeric(dt5.v_3monthDeltawaves,errors='coerce') 
dt5.v_6weekDeltawaves=pd.to_numeric(dt5.v_6weekDeltawaves,errors='coerce') 
dt5.v_3monthDeltawavesprop=pd.to_numeric(dt5.v_3monthDeltawavesprop,errors='coerce') 
dt5.v_6weekDeltawavesprop=pd.to_numeric(dt5.v_6weekDeltawavesprop,errors='coerce') 
dt5.Ncorrelation=pd.to_numeric(dt5.Ncorrelation,errors='coerce') 
      
display("Here is a description of the data frame dt5 and number of lines\n")
display(dt5.info())
display("--------------------\n\n")                
display("Here is a summary of numerical variables in the data frame dt5\n")
display(dt5.describe())
display("--------------------\n\n")                
                         
display("The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n")                 

display(dt5.Shore.describe())               
display("--------------------\n\n")
                    
display(dt5.Season.describe())               
display("--------------------\n\n")
                    
display(dt5.v_3monthDeltawaves.describe())               
display("--------------------\n\n")
                    
display(dt5.v_6weekDeltawaves.describe())               
display("--------------------\n\n")
                    
display(dt5.v_3monthDeltawavesprop.describe())               
display("--------------------\n\n")
                    
display(dt5.v_6weekDeltawavesprop.describe())               
display("--------------------\n\n")
                    
display(dt5.Ncorrelation.describe())               
display("--------------------\n\n")

'Here is a description of the data frame dt1 and number of lines\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Taxa      85 non-null     category
 1   Category  85 non-null     category
dtypes: category(2)
memory usage: 3.4 KB

None

'--------------------\n\n'

'Here is a summary of numerical variables in the data frame dt1\n'

                          Taxa          Category
count                       85                85
unique                      85                11
top     Acanthophora.spicifera  Other_macroalgae
freq                         1                60

'--------------------\n\n'

'The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n'

count                         85
unique                        85
top       Acanthophora.spicifera
freq                           1
Name: Taxa, dtype: object

'--------------------\n\n'

count                   85
unique                  11
top       Other_macroalgae
freq                    60
Name: Category, dtype: object

'--------------------\n\n'

'Here is a description of the data frame dt2 and number of lines\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Site      6 non-null      category
 1   lsmean    6 non-null      float64
 2   SE        6 non-null      float64
 3   df        6 non-null      int64
 4   lower_CL  6 non-null      float64
 5   upper_CL  6 non-null      float64
dtypes: category(1), float64(4), int64(1)
memory usage: 594.0 bytes

None

'--------------------\n\n'

'Here is a summary of numerical variables in the data frame dt2\n'

         lsmean        SE     df  lower_CL  upper_CL
count  6.000000  6.000000    6.0  6.000000  6.000000
mean   0.748211  0.018843  108.0  0.710860  0.785561
std    0.033885  0.000552    0.0  0.034608  0.033182
min    0.708692  0.018487  108.0  0.669929  0.747454
25%    0.726827  0.018487  108.0  0.689653  0.764001
50%    0.738392  0.018487  108.0  0.700688  0.776095
75%    0.777090  0.019288  108.0  0.740445  0.813735
max    0.790826  0.019556  108.0  0.754181  0.827471

'--------------------\n\n'

'The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n'

count          6
unique         6
top       LTER 1
freq           1
Name: Site, dtype: object

'--------------------\n\n'

count    6.000000
mean     0.748211
std      0.033885
min      0.708692
25%      0.726827
50%      0.738392
75%      0.777090
max      0.790826
Name: lsmean, dtype: float64

'--------------------\n\n'

count    6.000000
mean     0.018843
std      0.000552
min      0.018487
25%      0.018487
50%      0.018487
75%      0.019288
max      0.019556
Name: SE, dtype: float64

'--------------------\n\n'

count      6.0
mean     108.0
std        0.0
min      108.0
25%      108.0
50%      108.0
75%      108.0
max      108.0
Name: df, dtype: float64

'--------------------\n\n'

count    6.000000
mean     0.710860
std      0.034608
min      0.669929
25%      0.689653
50%      0.700688
75%      0.740445
max      0.754181
Name: lower_CL, dtype: float64

'--------------------\n\n'

count    6.000000
mean     0.785561
std      0.033182
min      0.747454
25%      0.764001
50%      0.776095
75%      0.813735
max      0.827471
Name: upper_CL, dtype: float64

'--------------------\n\n'

'Here is a description of the data frame dt3 and number of lines\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Point           190 non-null    category
 1   Latitude        190 non-null    float64
 2   Longitude       190 non-null    float64
 3   Island_shore    190 non-null    category
 4   Habitat         190 non-null    category
 5   Percent_N_Jan   184 non-null    float64
 6   Percent_N_May   171 non-null    float64
 7   Percent_N_July  173 non-null    float64
 8   d15NNorm_Jan    184 non-null    float64
 9   d15NNorm_May    171 non-null    float64
 10  d15NNorm_July   169 non-null    float64
dtypes: category(3), float64(8)
memory usage: 18.6 KB

None

'--------------------\n\n'

'Here is a summary of numerical variables in the data frame dt3\n'

,Latitude,Longitude,Percent_N_Jan,Percent_N_May,Percent_N_July,d15NNorm_Jan,d15NNorm_May,d15NNorm_July
count,190.000000,190.000000,184.000000,171.000000,173.000000,184.000000,171.000000,169.000000
mean,-17.527087,-149.837704,0.427337,0.522047,0.410000,3.391386,3.710029,3.750207
std,0.042865,0.049008,0.066847,0.072671,0.083003,0.586022,0.617436,0.761896
min,-17.604108,-149.924037,0.290000,0.370000,0.210000,1.570000,2.320000,2.060000
25%,-17.566569,-149.878949,0.380000,0.470000,0.350000,3.070000,3.275000,3.220000
50%,-17.519756,-149.837783,0.420000,0.520000,0.400000,3.432500,3.660000,3.650000
75%,-17.486626,-149.793636,0.470000,0.570000,0.460000,3.722500,4.100000,4.250000
max,-17.471870,-149.757646,0.630000,0.720000,0.700000,5.120000,5.640000,6.250000

'--------------------\n\n'

'The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n'

count     190
unique    190
top         1
freq        1
Name: Point, dtype: object

'--------------------\n\n'

count    190.000000
mean     -17.527087
std        0.042865
min      -17.604108
25%      -17.566569
50%      -17.519756
75%      -17.486626
max      -17.471870
Name: Latitude, dtype: float64

'--------------------\n\n'

count    190.000000
mean    -149.837704
std        0.049008
min     -149.924037
25%     -149.878949
50%     -149.837783
75%     -149.793636
max     -149.757646
Name: Longitude, dtype: float64

'--------------------\n\n'

count     190
unique      3
top         N
freq       75
Name: Island_shore, dtype: object

'--------------------\n\n'

count               190
unique                5
top       Fringing reef
freq                 76
Name: Habitat, dtype: object

'--------------------\n\n'

count    184.000000
mean       0.427337
std        0.066847
min        0.290000
25%        0.380000
50%        0.420000
75%        0.470000
max        0.630000
Name: Percent_N_Jan, dtype: float64

'--------------------\n\n'

count    171.000000
mean       0.522047
std        0.072671
min        0.370000
25%        0.470000
50%        0.520000
75%        0.570000
max        0.720000
Name: Percent_N_May, dtype: float64

'--------------------\n\n'

count    173.000000
mean       0.410000
std        0.083003
min        0.210000
25%        0.350000
50%        0.400000
75%        0.460000
max        0.700000
Name: Percent_N_July, dtype: float64

'--------------------\n\n'

count    184.000000
mean       3.391386
std        0.586022
min        1.570000
25%        3.070000
50%        3.432500
75%        3.722500
max        5.120000
Name: d15NNorm_Jan, dtype: float64

'--------------------\n\n'

count    171.000000
mean       3.710029
std        0.617436
min        2.320000
25%        3.275000
50%        3.660000
75%        4.100000
max        5.640000
Name: d15NNorm_May, dtype: float64

'--------------------\n\n'

count    169.000000
mean       3.750207
std        0.761896
min        2.060000
25%        3.220000
50%        3.650000
75%        4.250000
max        6.250000
Name: d15NNorm_July, dtype: float64

'--------------------\n\n'

'Here is a description of the data frame dt4 and number of lines\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       102 non-null    float64
 1   Y       102 non-null    float64
dtypes: float64(2)
memory usage: 1.7 KB

None

'--------------------\n\n'

'Here is a summary of numerical variables in the data frame dt4\n'

                   X             Y
count     102.000000  1.020000e+02
mean   199057.560652  8.059683e+06
std      5487.638625  4.597392e+03
min    189487.372500  8.051383e+06
25%    194166.580800  8.055594e+06
50%    200076.543400  8.060562e+06
75%    203983.563550  8.063722e+06
max    207163.842700  8.066081e+06

'--------------------\n\n'

'The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n'

count       102.000000
mean     199057.560652
std        5487.638625
min      189487.372500
25%      194166.580800
50%      200076.543400
75%      203983.563550
max      207163.842700
Name: X, dtype: float64

'--------------------\n\n'

count    1.020000e+02
mean     8.059683e+06
std      4.597392e+03
min      8.051383e+06
25%      8.055594e+06
50%      8.060562e+06
75%      8.063722e+06
max      8.066081e+06
Name: Y, dtype: float64

'--------------------\n\n'

'Here is a description of the data frame dt5 and number of lines\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Shore                   9 non-null      category
 1   Season                  9 non-null      category
 2   v_3monthDeltawaves      9 non-null      float64
 3   v_6weekDeltawaves       9 non-null      float64
 4   v_3monthDeltawavesprop  9 non-null      float64
 5   v_6weekDeltawavesprop   9 non-null      float64
 6   Ncorrelation            9 non-null      float64
dtypes: category(2), float64(5)
memory usage: 770.0 bytes

None

'--------------------\n\n'

'Here is a summary of numerical variables in the data frame dt5\n'

,v_3monthDeltawaves,v_6weekDeltawaves,v_3monthDeltawavesprop,v_6weekDeltawavesprop,Ncorrelation
count,9.000000,9.000000,9.000000,9.000000,9.000000
mean,11525.653294,10405.535927,0.577603,0.649362,0.478222
std,7356.385735,6189.208879,0.416488,0.477046,0.199780
min,830.287392,2206.937636,0.041046,0.076746,0.192000
25%,9487.386291,7020.970466,0.381012,0.455558,0.338000
50%,11927.309880,10493.491550,0.469014,0.593282,0.426000
75%,14261.434370,16537.908570,0.807287,0.669496,0.704000
max,25271.535360,18744.846210,1.281869,1.676995,0.747000

'--------------------\n\n'

'The analyses below are basic descriptions of the variables. After testing, they should be replaced.\n'

count          9
unique         3
top       nshore
freq           3
Name: Shore, dtype: object

'--------------------\n\n'

count           9
unique          3
top       JanJuly
freq            3
Name: Season, dtype: object

'--------------------\n\n'

count        9.000000
mean     11525.653294
std       7356.385735
min        830.287392
25%       9487.386291
50%      11927.309880
75%      14261.434370
max      25271.535360
Name: v_3monthDeltawaves, dtype: float64

'--------------------\n\n'

count        9.000000
mean     10405.535927
std       6189.208879
min       2206.937636
25%       7020.970466
50%      10493.491550
75%      16537.908570
max      18744.846210
Name: v_6weekDeltawaves, dtype: float64

'--------------------\n\n'

count    9.000000
mean     0.577603
std      0.416488
min      0.041046
25%      0.381012
50%      0.469014
75%      0.807287
max      1.281869
Name: v_3monthDeltawavesprop, dtype: float64

'--------------------\n\n'

count    9.000000
mean     0.649362
std      0.477046
min      0.076746
25%      0.455558
50%      0.593282
75%      0.669496
max      1.676995
Name: v_6weekDeltawavesprop, dtype: float64

'--------------------\n\n'

count    9.000000
mean     0.478222
std      0.199780
min      0.192000
25%      0.338000
50%      0.426000
75%      0.704000
max      0.747000
Name: Ncorrelation, dtype: float64

'--------------------\n\n'